# Python virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
.env
media/
staticfiles/

# Node / React
node_modules/
dist/
build/
npm-debug.log*

# Docker
*.pid

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/